.sign-up-holder {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #dadce0;
    border-radius: 8px;
    width: 40%;
    height: 80%;
    padding: 24px 24px 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.sign-up-input {
    width: 25vw;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

.sign-up-input:focus {
    outline-color: #c60021;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.form-field-signup {
    border: 1px solid #c60021;
    border-radius: 4px;
}

input[type=submit] {
    width: 25vw;
    background-color: #c60021;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e10328;
}
