/* .float-container {
  border: 3px solid #fff;
  padding: 20px;
} */
.float-container{
  padding: 20px;
  /* height: 95vh;
  width: 100vw;
  background-image: url("../public/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;   */
}
.float-child1 {
  border-radius: 15px 50px 30px;
  background: #fa7670;
  padding: 20px;
  height: 150px;
  width: 50%;
  float: left;
  position: relative;
  bottom: -300px;
  left: 16px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  position: relative;
  top: 20px;
}  

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-family: “Permanent Marker”, helvetica,sans-serif;
  /* background: linear-gradient(to top, #b89f5d, #F6F6F8); */
  /* background-color: #b89f5d !important; */
  /* background-color:#fa7670 !important; */
  
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
 
}
/* .container{
  background: #b89f5d;
} */
html {
  font-size: 1.2rem;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* .mx-2{
  text-align: center;
} */
.App {
  text-align: center;
  display: grid;
  grid-row-gap: 0rem;
  height: 60vh;
  font-family: system-ui;
  justify-content: center;
  background-color:#fa7670

}

.carousel__list {
  align-items: center;
  display: grid;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  max-width: 40rem;
  overflow: hidden;
  padding: 1rem rem;
  list-style-type: none;
}

.carousel__item {
  grid-column: 1;
  grid-row: 1;
  line-height: 1.2;
  text-align: center;
  transition: transform 0.2s;
}

.carousel__item.active {
  transform: translateX(0);
}

.carousel__item.left {
  transform: translateX(-110%);
}

.carousel__item.right {
  transform: translateX(110%);
}

.carousel__indicator {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 2;
  margin-left: 50px;
  margin-top: -85px;
  justify-self: center;
}

.carousel__dot {
  background-color: white;
  border-radius: 50%;
  border: 0.0625rem solid #696a6b;
  display: block;
  height: 0.5rem;
  width: 0.5rem;
}

.carousel__dot.active {
  background-color: #696a6b;
}

.carousel__citation {
  display: block;
  font-size: 0.875rem;
  font-style: normal;
  margin-bottom: 1.25rem;
}

.carousel__name {
  display: block;
  font-style: normal;
  font-weight: 600;
}

.carousel__quote {
  font-style: italic;
  line-height: 1.5;
}

.about {
  position: center;
  left: 400px;
  padding: 20px;
  /* background-color:#fa292a; */
} 

/* .welcome{
   background-color:#fa292a; 
   background-color:#fa7670
} */
.footer {
  background-color: #E3E3E3;
  border-top:2px solid red;
 position: fixed;
 width: 100%;
 height:80px;
 bottom: 0;

}
