<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1 >There's been an update to your intervention report</h1>
  <p>Hi, <%= @user.name %></p>
  <p>Your intervention report has been reviewed by local authorities and it's status has been updated.</p>
  <a href="http://localhost:4000/login">Log in to see the update</a>
  <p>Email us at <a href="mailto:help@iReporter.com" target="_blank">help@iReporter.com</a> if you have any questions about this status update!</p>
  <div style="font-size: 11px">
  You received this email to let you know about important changes to your iReporter Account and reports.
    </div>
     <div style="font-size: 11px">
   © 2022 iReporter LLC, MQXM+RR5, Ngong Ln, Nairobi, Kenya
     </div>
  </body>
</html>
