.search-container {
  padding: 10px 540px;
}
input[type="text"] {
  font-family: “Permanent Marker”, sans-serif;
  display: block;
  width: calc(100% - 456px);
  font-size: 20px;
  font-weight: 300;
  color: teal;
  padding: 10px;
  border: 1px solid teal;
  border-radius: 6px;
}
